<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741339419498-ssuobof7pscob0ml0kvm0b373h0hq81r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741339419498-ssuobof7pscob0ml0kvm0b373h0hq81r</string>
	<key>API_KEY</key>
	<string>AIzaSyAUNyBZ256cPdS3_RQeBQjI1Mlely_iC8A</string>
	<key>GCM_SENDER_ID</key>
	<string>741339419498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.steph.circles</string>
	<key>PROJECT_ID</key>
	<string>circles-d7e49</string>
	<key>STORAGE_BUCKET</key>
	<string>circles-d7e49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741339419498:ios:212fe45de460bdee02cb13</string>
</dict>
</plist>